RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.zena-.github.io/outernetsSample.com$ [NC]
RewriteRule ^(.*)$ https://www.zena-.github.io/outernetsSample.com/$1 [L,R=301]